label {
  display: block;
}
.datepicker {
  border: 1px solid #ccc;
}

.form-col-left {
  .form-group {
    float: right;

    label, input, .bootstrap-select.btn-group .btn .filter-option, .dropdown-menu ul li a {
      text-align: right;
    }
  }
}

.form-group {
  width: 100%;

  .bootstrap-select, .datepicker {
    width: 100% !important;
  }
}