.add-action {
  .time-hr {
    margin: 14px;
  }

  .add-action-button {
    width: 100%;
    margin-top: 16px;
    background-color: #fff;
    color: $brand-primary;
    border: 1px solid #ccd0d2;
  }
}